@charset "UTF-8";
*, ::after, ::before, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-x: hidden;
    font-family: Muli, sans-serif;
}

footer, header, section {
    width: 100%;
    float: left;
    clear: both;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    height: 96px;
    padding: 15px 0;
}
header .logo {
    float: left;
    width: 160px;
}
header .logo img {
    width: 100%;
}
header .logo img:nth-child(2) {
    display: none;
}
header .enqnum {
    float: right;
    font-weight: 600;
    color: #fff;
    transform: translate(6%, 67%);
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-animation: smoothScroll 1s forwards;
    animation: smoothScroll 1s forwards;
    -webkit-box-shadow: 0 0 10px #00000036;
    box-shadow: 0 0 10px #00000036;
}
.fixed .enqnum {
    color: #707070;
}
.fixed .logo img:nth-child(1) {
    display: none;
}
.fixed .logo img:nth-child(2) {
    display: block;
}
@-webkit-keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.banner {
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.banner .item {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.banner .item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.banner .item img {
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.banner .item .owl-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    width: 100%;
    float: left;
}
.banner .item .owl-caption h1 {
    color: #fff;
    font-weight: 600;
    font-size: 50px;
}
.banner .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner .owl-nav .owl-next span, .banner .owl-nav .owl-prev span {
    display: block;
    width: 35px;
    height: 35px;
    font-size: 40px;
    padding: 0;
    line-height: 20px;
    border: 2px solid red;
    color: #fff;
    font-weight: 400;
}
.banner .owl-nav .owl-prev {
    float: left;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-left: 30px;
}
.banner .owl-nav .owl-next {
    float: right;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-right: 30px;
}
.banner .enqform {
    position: absolute;
    /* bottom: 50%; */
    margin-left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 35px;
    right: 100px;
    max-width: 339px;
    border-radius: 4px;
    z-index: 99;
}
.banner .enqform h4 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.banner .enqform .form-control {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.banner .enqform .form-control::-webkit-input-placeholder {
    color: #707070;
    font-size: 14px;
}
.banner .enqform .form-control:-ms-input-placeholder {
    color: #707070;
    font-size: 14px;
}
.banner .enqform .form-control::-ms-input-placeholder {
    color: #707070;
    font-size: 14px;
}
.banner .enqform .form-control::placeholder {
    color: #707070;
    font-size: 14px;
}
.banner .enqform .form-check-label {
    color: #fff;
}
.banner .enqform .btn-default {
    background-color: #e52240;
    width: 100%;
}
.banner .enqform .btn-default span:nth-child(1) {
    float: left;
}
.banner .enqform .btn-default span:nth-child(1) img {
    width: 25px;
}
.banner .enqform .btn-default span:nth-child(2) {
    color: #fff;
    font-size: 16px;
}
.banner .enqform .btn-default span:nth-child(3) {
    float: right;
}
.banner .enqform .btn-default span:nth-child(3) img {
    width: 25px;
}
.banner .ebookenqform {
     /* position: absolute; */
    /* bottom: 50%; */
    top: 50%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 35px;
    right: 100px;
    /* max-width: 339px; */
    border-radius: 4px;
    z-index: 99;
}

.banner {
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.banner .ebookenqform h4 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.banner .ebookenqform .form-control {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.banner .ebookenqform .form-control::-webkit-input-placeholder {
    color: #707070;
    font-size: 14px;
}

.banner .ebookenqform .form-control:-ms-input-placeholder {
    color: #707070;
    font-size: 14px;
}

.banner .ebookenqform .form-control::-ms-input-placeholder {
    color: #707070;
    font-size: 14px;
}

.banner .ebookenqform .form-control::placeholder {
    color: #707070;
    font-size: 14px;
}

.banner .ebookenqform .form-check-label {
    color: #fff;
}

.banner .ebookenqform .btn-default {
    background-color: #e52240;
    width: 100%;
}
.btn.btn-default:hover {
    background-color: #8f061a;
    cursor: pointer;
  }

.banner .ebookenqform .btn-default span:nth-child(1) {
    float: left;
}

.banner .ebookenqform .btn-default span:nth-child(1) img {
    width: 25px;
}

.banner .ebookenqform .btn-default span:nth-child(2) {
    color: #fff;
    font-size: 16px;
}

.banner .ebookenqform .btn-default span:nth-child(3) {
    float: right;
}

.banner .ebookenqform .btn-default span:nth-child(3) img {
    width: 25px;
}

#close-button {
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.title span {
    color: red;
}
.title {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000;
    position: relative;
    margin-bottom: 30px;
    text-decoration-thickness: 5px;
    text-decoration-color: red;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}
.lead {
    font-size: 16px;
    color: #707070;
}
.about {
    padding: 50px 0;
}
.about .lead {
    text-align: justify;
}
.about .about-side-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-71%, -41%);
}
.about .about-side-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #afca05;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    top: -50px;
    left: -50px;
}
.about .about-side-img img {
    width: 100%;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.about .content {
    position: relative;
}
.pd0 {
    padding: 0;
}

.feature, .why-us {
    background-color: #f7f7f7;
}

.feature .feature-img img, .why-us .feature-img img {
    width: 100%;
}

.feature .content, .why-us .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 50px;
}

.feature .content .nav .nav-item, .why-us .content .nav .nav-item {
    margin: 12px 0;
    display: block;
    width: 100%;
}

.feature .content .nav .nav-item .media .icon, .why-us .content .nav .nav-item .media .icon {
    width: 70px;
    height: 70px;
    border: 2px solid #afca05;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}

.feature .content .nav .nav-item .media .icon img, .why-us .content .nav .nav-item .media .icon img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.feature .content .nav .nav-item .media .lead {
    transform: translateY(60%);
}
.why-us .content .nav .nav-item .media .lead {
    transform: translateY(55%);
}
.bookAp {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    right: -67px;
    z-index: 9999;
    background-color: #e52240;
    margin: 0;
    padding: 7px 25px;
    text-decoration: none !important;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff !important;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.offer {
    padding: 50px 0;
}
.offer .btn-default {
    background-color: #e52240;
    text-transform: capitalize;
    text-decoration: none !important;
    color: #000;
    padding: 7px 25px;
    left: 44%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
}
.offer .title {
    text-align: center;
}
.offer .title::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.offer .circle {
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0.8);
    transform: translateY(-50%) scale(0.8);
    position: relative;
    display: table;
    z-index: 10;
    padding: 30px 15px;
}
.offer .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #afca05;
    top: -50px;
    left: -50px;
    z-index: -1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.offer .circle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid red;
    bottom: -50px;
    right: -50px;
    z-index: -1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.offer .circle img {
    width: 100%;
}
.offer .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.offer .content .nav .nav-item {
    border: 1px solid #efefef;
    margin: 15px 0;
    font-size: 18px;
    text-align: right;
    width: 80%;
    padding: 15px;
    color: #000;
    position: relative;
}
.offer .content .nav .nav-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.offer .content .nav .nav-item:nth-child(odd) {
    background-color: #e52240;
}
.offer .content .nav .nav-item:nth-child(odd)::before {
    border-left: 10px solid #afca05;
}
.offer .content .nav .nav-item:nth-child(even) {
    background-color: #e52240;
}
.offer .content .nav .nav-item:nth-child(even)::before {
    border-left: 10px solid red;
}
.offer .content-right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.offer .content-right .nav {
    float: right;
    max-width: 80%;
}
.offer .content-right .nav .nav-item {
    border: 1px solid #efefef;
    margin: 15px 0;
    font-size: 18px;
    text-align: left;
    width: 100%;
    padding: 15px;
    color: #000;
    position: relative;
}
.offer .content-right .nav .nav-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    top: 50%;
    right: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.offer .content-right .nav .nav-item:nth-child(odd) {
    background-color: #e52240;
}
.offer .content-right .nav .nav-item:nth-child(odd)::before {
    border-right: 10px solid #afca05;
}
.offer .content-right .nav .nav-item:nth-child(even) {
    background-color: #e52240;
}
.offer .content-right .nav .nav-item:nth-child(even)::before {
    border-right: 10px solid red;
}
.address {
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.address::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.address .media {
    background-color: #fff;
    padding: 15px 15px;
    font-size: 16px;
    color: #707070;
    min-height: 130px;
    z-index: 10;
}
.address .media::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 1;
    left: 15px;
    top: 0;
    border-top: 3px solid #afca05;
    border-left: 3px solid red;
}
.address .media::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 1;
    right: 15px;
    bottom: 0;
    border-bottom: 3px solid #afca05;
    border-right: 3px solid red;
}
.address .media h5 {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.address .media img {
    width: 30px;
    height: 30px;
}
footer {
    padding: 30px 0;
}
footer .credite a {
    color: #000 !important;
    font-weight: 600;
}

footer .copyright p, footer .credite p {
    color: #707070;
    text-align: center;
    font-size: 16px;
}

footer .copyright p a, footer .credite p a {
    text-decoration: none !important;
    color: #e52240;
}
footer .social-link .nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
footer .social-link .nav .nav-item .nav-link {
    width: 30px;
    height: 30px;
    border: 2px solid #707070;
    margin: 0 5px;
    border-radius: 50%;
    position: relative;
    padding: 0;
}
footer .social-link .nav .nav-item .nav-link img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.page-banner {
    display: table;
    max-height: 50vh;
    overflow: hidden;
    position: relative;
}
.page-banner img {
    width: 100%;
    position: relative;
}
.page-banner .head-title {
    position: absolute;
    bottom: 50px;
    padding: 15px;
}
.page-banner .head-title .breadcrumb {
    background: 0 0;
    padding-left: 0;
}
.page-banner .head-title .breadcrumb .breadcrumb-item {
    font-size: 18px;
    color: #fff;
}
.page-banner .head-title .breadcrumb .breadcrumb-item a {
    color: #fff;
}
.page-banner .head-title h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}
.page-banner .head-title h3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #e52240;
    bottom: -15px;
}
.page-banner .head-title h3 span {
    color: #afca05;
}

.page-banner .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff;
    content: "»";
}
.policy {
    padding: 50px 0;
}
.policy ul {
    margin-left: 20px;
}
.policy ul li {
    list-style-type: circle;
    color: #707070;
}
.modal {
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal .modal-header {
    background-color: #e52240;
    text-transform: capitalize;
}
.modal .modal-header h4 {
    font-size: 18px;
}
.modal .modal-body .form-group .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-radius: 3px;
}
.modal .modal-body .btn-default {
    background-color: #e52240;
    border: 0;
    padding: 7px 25px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
@media all and (max-width: 1920px) and (min-width: 600px) {
    .enqnum {
        margin-right: 85px;
    }
}
@media (max-width: 1920px) {
    .banner .enqform {
        /* left: 400px; */
    }
}
@media (max-width: 1600px) {
    .banner .enqform {
        left: 200px;
    }
    .banner .item .owl-caption h1 {
        margin-left: 70px;
        font-size: 45px;
    }
}
@media (max-width: 1480px) {
    .banner .enqform {
        left: 180px;
    }
    .banner .item .owl-caption h1 {
        margin-left: 110px;
    }
}
@media (max-width: 1440px) {
    .banner .enqform {
        left: 160px;
    }
}
@media (max-width: 1366px) {
    .banner .enqform {
        left: 120px;
    }
    .banner .item .owl-caption h1 {
        margin-left: 140px;
        font-size: 40px;
    }
    .banner .enqform {
        transform: translate(-23px, -260px);
    }
}
@media (max-width: 1280px) {
    .page-banner .head-title {
        bottom: 0;
    }
    .container {
        max-width: 1070px;
    }
    .banner .enqform {
        left: 70px;
        padding: 20px;
        max-width: 300px;
    }
    .banner .enqform h4 {
        font-size: 18px;
    }
    .banner .enqform .form-check-label {
        font-size: 40px;
    }
}
@media (max-width: 1200px) {
    .banner .item .owl-caption h1 {
        margin-left: 127xpx;
        font-size: 20px;
    }
    .container {
        max-width: 1030px;
    }
    .offer .content .nav .nav-item, .offer .content-right .nav .nav-item {
        font-size: 16px;
    }
    .title {
        font-size: 40px;
    }
    .lead {
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    .container {
        max-width: 900px;
    }
    .banner .enqform {
        right: 75px;
        transform: translate(-4px, -260px);
    }
    .feature .content .nav .nav-item .media .lead, .why-us .content .nav .nav-item .media .lead {
        margin-top: 0;
    }
    .feature .content, .why-us .content {
        padding: 10px;
    }
    .feature .content .nav .nav-item, .why-us .content .nav .nav-item {
        margin: 8px 0;
    }
    .title {
        font-size: 40px;
    }
    .lead {
        font-size: 14px;
    }
    .address .media {
        min-height: 153px;
    }
    footer .social-link .nav {
        width: 100%;
    }
    footer .social-link .nav .nav-item .nav-link {
        margin: 0 5px;
        width: 30px;
        height: 30px;
        padding: 0;
    }
    footer .copyright p, footer .credite p {
        font-size: 14px;
    }
    footer .social-link .nav .nav-item .nav-link img {
        width: 15px;
        height: 15px;
    }
    .page-banner .head-title h3 {
        font-size: 23px;
    }
    .about .about-side-img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
    }
}
@media (max-width: 900px) {
    .banner .item .owl-caption {
        width: 164%;
        margin-left: -35%;
        font-size: 90%;
    }
    .banner .enqform {
        transform: translateY(-336px);
    }
    .title {
        font-size: 40px;
    }
}
@media (max-width: 890px) {
    .banner .enqform {
        top: 50%;
        left: 50%;
        transform: translate(29px, -408px);
    }
    .about-side-img {
        display: block;
    }
    .title {
        font-size: 40px;
    }
}
@media (max-width: 731px) {
    .banner .enqform {
        transform: translate(0px, -137px);
    }
}
@media (max-width: 823px) {
    .banner .enqform {
        transform: translate(29px, -184px);
    }
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(19%);
        line-height: normal;
    }
    .feature-img div img {
        margin-top: 20%;
    }
}
@media (max-width: 768px) {
    .page-banner .head-title .breadcrumb .breadcrumb-item {
        font-size: 15px;
        color: #fff;
    }
    .about-side-img {
        display: none;
    }
    .page-banner .head-title {
        bottom: -25px;
    }
    .page-banner .head-title h3 {
        font-size: 20px;
    }
    .banner .item .owl-caption h1 {
        margin-left: -34%;
        font-size: 150%;
        display: flex;
    }
    .banner .item .owl-caption {
        margin-left: auto;
        text-align: center;
    }
    .banner .enqform {
        right: 20px;
        top: 50%;
        left: 50%;
        transform: translate(49px, -410px);
    }
    .banner .enqform .form-group {
        margin-bottom: 7px;
    }
    .banner .enqform .form-group .form-control {
        height: 35px;
    }
    .banner .owl-nav {
        width: 150px;
        top: 80%;
    }
    .about .about-side-img {
        left: 15px;
        display: block;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .feature .content .nav .nav-item .media .icon, .why-us .content .nav .nav-item .media .icon {
        width: 50px;
        height: 50px;
    }
    .feature .content .nav .nav-item .media .icon img, .why-us .content .nav .nav-item .media .icon img {
        width: 20px;
        height: 20px;
    }
    .feature .content .nav .nav-item, .why-us .content .nav .nav-item {
        margin: 4px 0;
    }
    .title {
        font-size: 40px;
    }
    .offer .content-right .nav {
        margin-right: 15px;
    }
    .offer .circle {
        margin-bottom: 25px;
    }
    .feature .content .nav .nav-item .media .lead {
        line-height: 1em;
    }
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(-8%);
        line-height: normal;
    }
}
@media (max-width: 736px) {
    .banner .enqform {
        transform: translate(65px, -136px);
    }
    .banner .item .owl-caption h1 {
        margin-left: -20%;
        display: flex;
    }
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(20%);
    }
    .about .about-side-img::before {
        display: none;
    }
    .about-side-img img {
        display: none;
    }
}
@media (max-width: 700px) {
    .banner .enqform {
        top: 50%;
        left: 50%;
        transform: translate(18px, -132px);
    }
    .banner .item .owl-caption h1 {
        margin-left: -12%;
        font-size: 19px;
    }
    .title {
        font-size: 40px;
    }
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(28%);
        line-height: normal;
    }
}
@media (max-width: 600px) {
    header {
        position: relative !important;
        height: 70px;
    }
    header .logo {
        width: 110px;
    }
    header .enqnum {
        color: #707070;
        transform: translate(0%, 32%);
    }
    .banner .owl-nav .owl-next span, .banner .owl-nav .owl-prev span {
        display: block;
        width: 27px;
        height: 27px;
        font-size: 28px;
        padding: 0;
        line-height: 20px;
        border: 2px solid red;
        color: #fff;
        font-weight: 400;
    }
    .page-banner .head-title {
        bottom: -35px;
    }
    .page-banner .head-title h3 {
        font-size: 18px;
    }
    .banner .enqform {
        position: relative;
        max-width: 100%;
        top: 50%;
        left: 50%;
        margin-top: -400px;
        background-color: #000;
        transform: translate(-50%, -50%);
    }
    .banner .owl-nav {
        width: 100%;
        top: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateY(-50%);
    }
    .banner .enqform .form-group {
        margin-bottom: 15px;
    }
    .banner .enqform .form-group .form-control {
        height: 40px;
    }
    .about .about-side-img {
        margin-left: 35px;
        display: none;
    }
    .feature .content, .why-us .content {
        padding: 50px 0;
    }
    .feature .content .nav .nav-item .media .lead, .why-us .content .nav .nav-item .media .lead {}
    .offer .circle img {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    .offer .content-right {
        position: relative;
        top: 0;
    }
    .offer .content .nav .nav-item::before {
        border-left: 10px solid transparent !important;
        top: 100% !important;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .offer .content .nav .nav-item:nth-child(odd)::before {
        border-top: 10px solid #afca05 !important;
    }
    .offer .content .nav .nav-item:nth-child(even)::before {
        border-top: 10px solid red !important;
    }
    .offer .content .nav .nav-item, .offer .content-right .nav .nav-item {
        width: 100%;
        text-align: left;
    }
    .offer .circle {
        margin-bottom: -150px;
    }
    .offer .content-right .nav {
        max-width: 100% !important;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .offer .btn-default {
        left: 35%;
    }
    .offer .content-right .nav .nav-item::before {
        border-right: 10px solid transparent !important;
        top: -10px;
        left: 50%;
    }
    .offer .content-right .nav .nav-item:nth-child(odd)::before {
        border-bottom: 10px solid #afca05 !important;
    }
    .offer .content-right .nav .nav-item:nth-child(even)::before {
        border-bottom: 10px solid red;
    }
    .address .media {
        margin-bottom: 20px;
        min-height: 110px;
    }
    .address .media::after {
        bottom: 20px;
    }
    footer .social-link .nav {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        max-width: 125px;
    }
    .banner .item .owl-caption h1 {
        font-size: 25px;
        margin-left: 100px;
        display: contents;
        transform: translateY(70%) !important;
    }
    .banner .item .owl-caption {
        position: absolute;
        top: 50%;
        transform: translateY(109%);
        -moz-transform: translateY(150%);
        z-index: 99;
        width: 100%;
        float: left;
    }
    #Seethings_text, #Seethings_text1 {
        transform: translateY(-156%);
    }
    header .logo img:nth-child(2) {
        display: block;
    }
    header .logo img:nth-child(1) {
        display: none;
    }
    .banner .owl-nav .owl-prev {
        margin-left: 0%;
    }
    .banner .owl-nav .owl-next {
        margin-right: 0%;
    }
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(24%);
        line-height: normal;
    }
    #Seethings_text, #Seethings_text1 {
        transform: translateY(-156%);
    }
}
@media (max-width: 568px) {
    #Seethings_text, #Seethings_text1 {
        transform: translateY(-142%);
    }
}
@media (max-width: 480px) {
    .page-banner .head-title {
        display: none;
    }
    .about-side-img {
        display: none;
    }
    .banner .item .owl-caption h1 {
        font-size: 23px;
        margin-left: 80px;
        display: contents;
        transform: translateY(70%);
    }
    .banner .enqform {
        margin-top: -400px;
        width: 100%;
        margin-left: 0;
    }
    .about {
        padding: 30px 0;
    }
    .feature .content, .why-us .content {
        padding: 30px 0;
    }
    .offer .circle {
        margin-bottom: -110px;
    }
    .banner .item .owl-caption {
        position: absolute;
        top: 50%;
        transform: translateY(90%);
        -moz-transform: translateY(154%);
        z-index: 99;
        width: 100%;
        float: left;
    }
    .banner .owl-nav .owl-prev {
        margin-left: 0%;
    }
    .banner .owl-nav .owl-next {
        margin-right: 0%;
    }
    .feature .content .nav .nav-item .media .lead {
        line-height: 1.8rem;
        transform: translateY(0%);
    }
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(31%);
        line-height: normal;
    }
    #forcenter {
        margin-top: -4%;
    }
    #Seethings_text, #Seethings_text1 {
        transform: translateY(0%);
    }
}
@media (max-width: 400PX) {
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(-5%);
        line-height: normal;
    }
    #forcenter {
        margin-top: -1%;
    }
}
@media (max-width: 375px) {
    .policy {
        padding: 30px 0;
    }
    header .logo {
        width: 120px;
    }
    .about-side-img {
        display: none;
    }
    .banner .enqform {
        margin-top: -400px;
    }
    header .enqnum {
        font-size: 12px;
        transform: translate(2%, 63%);
        text-align: center;
    }
    header .logo {
        width: 120px;
    }
    .banner .enqform .form-group {
        margin-bottom: 10px;
    }
    .banner .enqform .form-group .form-control {
        height: 35px;
        font-size: 14px;
    }
    .banner .enqform .form-group .form-control::-webkit-input-placeholder {
        font-size: 14px;
    }
    .banner .enqform .form-group .form-control:-ms-input-placeholder {
        font-size: 14px;
    }
    .banner .enqform .form-group .form-control::-ms-input-placeholder {
        font-size: 14px;
    }
    .banner .enqform .form-group .form-control::placeholder {
        font-size: 14px;
    }
    .offer .circle {
        margin-bottom: -80px;
    }
    .offer .btn-default {
        left: 30%;
    }
    .banner .item .owl-caption h1 {
        font-size: 20px;
        margin-left: 50px;
        display: contents;
        transform: translateY(90%);
    }
    .banner .item .owl-caption {
        transform: translateY(90%);
        -moz-transform: translateY(156%);
    }
    .banner .owl-nav .owl-prev {
        margin-left: 0%;
    }
    .banner .owl-nav .owl-next {
        margin-right: 0%;
    }
    .why-us .contents .nav .nav-item .media .lead {
        transform: translateY(-7%);
        line-height: normal;
    }
    #Seethings_text, #Seethings_text1 {
        transform: translateY(0%);
    }
}
@media (max-width: 360px) {
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(-7%);
        line-height: normal;
    }
    #forcenter {
        margin-top: 0%;
    }
    .banner .item .owl-caption {
        -moz-transform: translateY(156%);
        transform: translateY(90%);
    }
}
@media (max-width: 320px) {
    header .logo {
        width: 100px;
    }
    .banner .item .owl-caption h1 {
        font-size: 18px;
        margin-left: 50px;
        display: contents;
        transform: translateY(70%);
    }
    .banner .enqform {
        margin-top: -400px;
    }
    .banner .owl-nav {
        top: 50%;
    }
    .banner .enqform {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .offer .circle {
        margin-bottom: -55px;
    }
    .banner .item .owl-caption {
        position: absolute;
        top: 50%;
        transform: translateY(78%);
        z-index: 99;
        width: 100%;
        float: left;
    }
    .banner .owl-nav .owl-prev {
        margin-left: 0%;
    }
    .banner .owl-nav .owl-next {
        margin-right: 0%;
    }
    .about-side-img {
        display: none;
    }
    header .enqnum {
        text-align: center;
        transform: translate(6%, 55%);
    }
    .why-us .content .nav .nav-item .media .lead {
        transform: translateY(-7%);
        line-height: normal;
    }
    #Seethings_text, #Seethings_text1 {
        transform: translateY(0%);
    }
}
@media (max-width: 280px) {
    header .enqnum {
        font-size: 61%;
        transform: translate(6%, 60%);
    }
    .feature .content .nav .media .media-body p {
        margin: 0 auto;
        transform: translateY(16%);
    }
}